!---- Xft Settins ----
Xft.dpi:                96
Xft.autohint:           0       
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintsfull

!---- URxvt settings ----
URxvt.internalBorder:    10
URxvt.externalBorder:    0
!URxvt.lineSpace:        0
!urxvt*shading:          30
URxvt.depth:             32
URxvt.saveLines:         10000
URxvt*geometry:          96x30
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false

URxvt.transparent: 	true
URxvt.tintColor:	#000000
URxvt*shading:		20
URxvt*blurRadius:	5

!! Scrollbar
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true

!! Fonts
#define fonts xft:Iosevka:size=12,\
              xft:Droid Sans Mono for Powerline:size=12,\
              xft:Dejavu Sans Mono for Powerline:size=12,\
              xft:Tewi:size=8,\
              xft:Siji:size=12

URxvt*font:              fonts
URxvt*boldMode:          true
URxvt*boldFont:          fonts

URxvt.letterSpace:       true

!! Colors
#include "/home/richard/.colors/solarized.dark"
